@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color:#eff4f4;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    color: #808B96;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px #ccc;
}
.header > .logo{
    background: url(../img/logo.png) no-repeat center center;
    width: 155px;
    height: 55px;
    background-size: contain;
    padding: 0 .5rem;

} 

.header > .nav-item{
    display: flex;
    align-items: center;
}
.header > .nav-item > ul {
    list-style: none;
    display: flex;
}

.header > .nav-item > ul > li {
    padding: 0 1rem;
}

.header > .nav-item > ul > li a {
   text-decoration: none;
   color: inherit;
}

.header > .nav-item > ul > li a:hover {
    color: #f15e5e;
    text-decoration: underline;
    transition: .5s;
 }

 .header > .nav-item > ul > li a:focus {
    outline: none;
 }

.header > .signStatus{
    padding: 0 .3rem;
    width: 70px;
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    color: #798087;
    border: 0;
 }

 .header > .signStatus:hover{
    color: #798087;
    box-shadow: 0 1px 5px rgb(192, 190, 190);
    color:#f52e2e;
    transition: .3s;
 }
