@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.resturant-conatainer{
    padding: 2rem;
}

.select-resturants{
    background-color: #fff;
    padding: 0 1.5rem 1rem;
    margin-top:1rem ;
    font-family: 'IBM Plex Serif', serif;
    box-shadow: 0 1px 3px #ccc;
    min-height: 500px;
    border-radius: 8px;
}

.resturant-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #1B1B1B;
    padding: 2rem;
    border-radius: 0 0 4px 4px;
}

.resturant-info > .resturant-text{
    margin-left: 2rem;
}
.resturant-info >.resturant-img > img{
   margin-right: 1rem;
    width: 400px;
}

.resturant-text > *{
    margin: .8rem;
}

.heading-menu{
    margin-top: 2rem;
    border-bottom: 1px solid #ccc;
}

.resturant-menu{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.resturant-menu > .each-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
}

.resturant-menu > .each-menu:hover{
    cursor: pointer;
    box-shadow: 2px 2px 6px #ccc;
}

.resturant-menu > .each-menu > .menu-info > *{
    margin: .4rem;
}

.resturant-menu > .each-menu > .menu-img > img{
    width: 150px;
}