@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color:#FEF5E7;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    color: #F08080;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
}
.header > .logo{
    background: url(./img/logo.png) no-repeat center center;
    width: 155px;
    height: 55px;
    background-size: contain;
    padding: 0 .5rem;

} 

.header > .nav-item{
    display: flex;
    align-items: center;
}
.header > .nav-item > ul {
    list-style: none;
    display: flex;
}

.header > .nav-item > ul > li {
    padding: 0 1rem;
}

.header > .nav-item > ul > li a {
   text-decoration: none;
   color: inherit;
}

.header > .nav-item > ul > li a:hover {
    color: #f15e5e;
 }

 .header > .nav-item > ul > li a:focus {
    outline: none;
 }
